.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.heading {
  font-size: 25px;
  color: #171f46;
  font-family: 'Roboto';
}
.paragraph {
  font-size: 25px;
  color: #64748b;
  font-family: 'Roboto';
}
.button {
  background-color: transparent;
  color: #171f46;
  border-color: #171f46;
  border-width: 43px;
  height: 50px;
  width: 70px;
}
.card-container {
  margin: 10px;
}
